<table>
  <thead>
    <tr>
      <th>Asset</th>
      <th>Category</th>
      <th style="text-align: right">Quantity</th>
      <th style="text-align: right">Value</th>
      <th style="text-align: right">Amount</th>
    </tr>
  </thead>
  <tbody>
    @for (asset of assets(); track asset) {
      <tr>
        <td>
          <a [routerLink]="['assets', 'edit', asset.symbol]">{{ asset.name }}</a>
        </td>
        <td>{{ categoryName(asset) }}</td>
        <td style="text-align: right">
          {{ asset.quantity | number : "1.2-2" }}
        </td>
        <td style="text-align: right">
          {{ asset.value | currency : "USD" : "symbol" : "1.2-2" }}
        </td>
        <td style="text-align: right">
          {{
          asset.quantity * asset.value | currency : "USD" : "symbol" : "1.0-0"
          }}
        </td>
      </tr>
    }
  </tbody>
</table>
