<div>
  <p><strong>Name:</strong> {{ asset().name }}</p>
  <p><strong>Symbol:</strong> {{ asset().symbol }}</p>
  <p><strong>Category ID:</strong> {{ asset().categoryId }}</p>
  <p><strong>Value:</strong> {{ asset().value | currency }}</p>

  <lab-details [details]="assetDetails$ | async"></lab-details>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <div>
      <label for="quantity">Quantity</label>
      <input
        type="number"
        formControlName="quantity"
        id="quantity"
        name="quantity"
        placeholder="Enter quantity"
      />
    </div>
    <div class="form-actions">
      <button type="submit" [disabled]="form.invalid">Update</button>
      <button type="button" class="outline" (click)="onDelete()">
        Delete Asset
      </button>
    </div>
  </fieldset>
</form>
