<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <div>
      <label for="categoryId">Category</label>
      <select
        id="categoryId"
        formControlName="categoryId"
        [attr.aria-invalid]="isInvalid('categoryId')"
      >
        <option value="0" disabled selected>Select a category</option>
        <option *ngFor="let category of categories" [ngValue]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div>
      <label for="symbol">Symbol</label>
      <select
        id="symbol"
        formControlName="symbol"
        [attr.aria-invalid]="isInvalid('symbol')"
      >
        <option value="" disabled selected>Select a symbol</option>
        <option
          *ngFor="let categorySymbol of categorySymbols"
          [value]="categorySymbol.symbol"
        >
          {{ categorySymbol.symbol }}
        </option>
      </select>
      <div *ngIf="getErrors('symbol')?.['symbolExists']">
        This symbol is already in use.
        <a [routerLink]="['/assets', 'edit', existingAssetForSymbol?.symbol]">
          You can edit the existing asset.</a
        >
      </div>
    </div>
    <div>
      <label for="name">Name</label>
      <input
        formControlName="name"
        type="text"
        id="name"
        placeholder="Enter name"
        [readonly]="!isRealEstate"
        [attr.aria-invalid]="isInvalid('name')"
      />
    </div>
    <div>
      <label for="quantity">Quantity</label>
      <input
        type="number"
        formControlName="quantity"
        id="quantity"
        placeholder="Enter quantity"
        [attr.aria-invalid]="isInvalid('quantity')"
      />
      <small *ngIf="isInvalid('quantity')">{{
        getErrors("quantity") | json
      }}</small>
    </div>
    <div>
      <label for="value">Value</label>
      <input
        type="number"
        formControlName="value"
        id="value"
        placeholder="Enter value"
        [readonly]="!isRealEstate"
        [attr.aria-invalid]="isInvalid('value')"
      />
    </div>
    <div *ngIf="getErrors()?.['maxInvestment']">
      {{ getErrors()?.['maxInvestment'] }}.
    </div>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </fieldset>
</form>
