<header>
  <nav>
    <ul>
      <li>
        <a routerLink="/" aria-label="Home"
          ><strong>{{ title }}</strong></a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="/" aria-label="Total amount">{{
          totalAmount$ | async | currency
        }}</a>
      </li>
      <li>
        <a routerLink="/symbols" aria-label="Symbols">Symbols</a>
      </li>
      <li>
        <a routerLink="/rates" aria-label="Rates">Rates</a>
      </li>
      <li>
        <lab-theme-toggle></lab-theme-toggle>
      </li>
    </ul>
  </nav>
</header>
